.hero-section {
  width: 100%;
  height: 90vh;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgb(77, 98, 216),
    rgba(221, 60, 181, 0.918)
  );
}
.inner-hero-section {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.hero-text-section {
  width: 50%;
  padding-right: 1rem;
}
.hero-img-section {
  width: 50%;
  background: transparent;
}

.hero_title {
  color: white;
  font-size: 3.2rem;
}

.hero_title_span {
  color: rgb(98, 248, 236);
}
.hero_text {
  color: white;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}

.hero-btn {
  padding: 1rem 1.5rem;
  background-image: linear-gradient(
    to right,
    rgb(29, 58, 226),
    rgb(111, 95, 255)
  );
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 3px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-div {
  text-align: center;
  margin: 1rem auto;
}
.reviews-btn {
  background-color: rgb(56, 196, 79);
  color: white;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.customer_heading {
  text-align: center;
  padding: 2rem 0;
}

.inner-customer-reviews-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}
