header {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(77, 98, 216),
    rgba(221, 60, 181, 0.918)
  );
  padding: 1.5rem;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
